@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
  --darkBlue: hsl(240, 38%, 20%);
  --grayishBlue: hsl(240, 18%, 77%);
}

body {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


/* .img img {
  max-width: 100%;
  position: relative;
  z-index: -1;
} */

.img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.main {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--darkBlue);
  font-weight: 300;
}


.main2 {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--darkBlue);
  font-weight: 300;
  display: none;
  /* transform: translateX(0%);
	transition: transform 0.5s; */
}

.left {
  position: relative;
  left: 56px;
  z-index: 1;
}

.left2 {
  position: relative;
  left: 63px;
  z-index: 1;
}

.person, .person2 {
  display: flex;
  align-items: flex-start;
  font-size: 1.3rem;
}

.name, .name2 {
  padding-right: 10px;
  color: var(--darkBlue);
  font-weight: 700;
}

.job, .job2 {
  color: var(--grayishBlue);
  font-weight: 500;
}

.quotes {
  max-width: 100%;
  position: relative;
  z-index: -1;
  left: 97px;
  top: 72px;
}

.quotes2 {
  max-width: 100%;
  position: relative;
  z-index: -1;
  left: 95px;
  top: 73px;
}

.pattern {
  max-width: 100%;
  position: absolute;
  z-index: -2;
  right: 227px;
  top: 109px;
  overflow: hidden;

}

.personImg, .personImg2 {
  max-width: 100%;
  position: relative;
  z-index: -1;
}

.btn {
  max-width: 100%;
  position: relative;
  z-index: 1;
  right: 490px;
  width: 7rem;
  height: 3.5rem;
  border-radius: 40px;
  border: none;
  color: #ffffff;
}

.btn a {
  display: flexbox;
}

.prev {
  margin-right: 40px;
}




/* Mobile */

@media (max-width: 1284px) {

  }



